# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# VS Code
compile_commands.json
_deps

# Build
build
subprojects

# MacOS
.DS_Store